body {
    background: no-repeat center center fixed linear-gradient(to bottom right, black, lightgrey, red);
}

.gradient-text {
    font-family: sans-serif;
    background: linear-gradient(to bottom left, black, white, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.4s ease;
}

.registration {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}